.custom-toast {
  font-size: 14px !important;
  margin: 20px !important;
}

/* ===== Validation Timesheet ===== */
tbody tr {
  transition: background-color 100ms ease;
}

/* Month input */
input[type="month"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  cursor: pointer;
}
input[type="month"]::-webkit-calendar-picker-indicator:hover {
  opacity: 0.8;
}
